.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .testimonial-card .avatar {
    width: 110px;
    height: 100px;
    margin-top: -30px;
    overflow: hidden;
    border: 5px solid #82a3ff;
    border-radius: 50%;
    
  }